<div class='container' fxLayout fxLayout.xs='column' fxLayout='column' fxLayoutAlign='left' fxLayoutGap='20px' style='margin: 10px'>
  <div class='item item-2' fxFlex='100%'>
    <div class='container' fxLayout fxLayout.xs='column' fxLayout='row' fxLayoutAlign='left' fxLayoutGap='20px'>
      <div class='item item-1' fxFlex='100%'>
        <mat-carousel
          timings='250ms ease-in'
          [autoplay]='true'
          interval='5000'
          color='accent'
          maxWidth='auto'
          proportion='40'
          slides='5'
          [loop]='true'
          [hideArrows]='false'
          [hideIndicators]='false'
          [useKeyboard]='true'
          [useMouseWheel]='false'
          orientation='ltr'>
          <mat-carousel-slide
            #matCarouselSlide
            *ngFor='let slide of carouselImg; let i = index'
            [image]='slide.image'
            overlayColor='#00000040'
            [hideOverlay]='false'>
          </mat-carousel-slide>
          <div class='quote-container' unselectable='on'>
            <h1>Increase Global Cycling,</h1>
            <h1>Decrease Global Warming</h1>
          </div>
        </mat-carousel>
      </div>
    </div>
  </div>
</div>
<div class='container' fxLayout fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center' fxLayoutGap='20px' style='margin: 10px'>
  <div class='item item-1' fxFlex='50%'>
    <mat-card class='mat-elevation-z8'>
      <mat-card-header>
        <mat-card-title>About our shop</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class='indent siteFontSize'>
          Greenplanet bike shop is an official dealer of bicycles in Laguna specially in San Pablo City. It offers one of the lowest priced built bikes. It also offers wholesale and retail of bicycles, spare parts and accessories.
          We carry a wide range of branded Bike products from Shimano, Trinx bicycles, Cannondale bicycles, GT Bicycles, Trek bicycles, Cateye, Suntour, Maxxis, Schwalbe, Dabomb, Vision and many more.
          Greenplanet bike shop caters to bike enthusiasts in need of Bicycles, Bike Spare Parts, and Bike Accessories.
        </p>
        <p class='indent siteFontSize'>Greenplanet Bike Shop started since April 2000 and owned by Mr. Erwil Rili.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class='item item-1' fxFlex='50%'>
    <mat-card class='mat-elevation-z8'>
      <mat-card-header>
        <mat-card-title>Shop hours</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class='siteFontSize'>Shop hours are from 9:00 o’clock in the morning until 7:00 o’clock in the evening.</span>
      </mat-card-content>
    </mat-card>
    <mat-card class='mat-elevation-z8' style='margin-top: 10px'>
      <mat-card-header>
        <mat-card-title>Location</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class='siteFontSize'>No. 28, T. Azucena St., San Pablo City, Laguna, 4000 <a matTooltip='Click here to locate via Google Maps' matTooltipPosition='above' matTooltipClass='tooltip-bg' href='https://www.google.com/maps/search/?api=1&query=14.070897,121.326969' target='_blank'><mat-icon>launch</mat-icon></a></span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='20px' style='margin: 10px'>
  <div class='item item-1' fxFlex='100%'>
    <mat-card class='mat-elevation-z8'>
      <mat-card-header>
        <mat-card-title>Featured Products</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class='container' fxLayout fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='20px'>
          <div *ngIf='featProd.length == 0'>No featured products yet</div>
          <div class='item item-1' fxFlex='25%' *ngFor='let itm of featProd' style='text-align: center'>
            <img [src]='"data:image/png;jpg;jpeg;base64, " + itm.img | imageData' width='100px' height='100px'>
            <p class='ftItemName'><b>{{ itm.name }}</b></p>
            <p>{{ ('₱ ') + itm.price }}</p>
          </div>
        </div>
        <div class='container' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='20px'>
          <div class='item item-1' fxFlex='70%'></div>
          <div class='item item-2' fxFlex='10%'>
            <a mat-raised-button routerLink='/products' color='primary'>View other products here >></a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center' fxLayoutGap='20px' style='margin: 10px'>
  <div class='item item-1' fxFlex='100%'>
    <mat-card class='mat-elevation-z8'>
      <mat-card-header>
        <mat-card-title>Services</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class='indent siteFontSize'>Greenplanet Bike Shop is also a full service bike shop. Services include bike repairs, tune-up, bike assembly, bike detailing, bike wash, wheel truing, sale of bike parts and accessories.</p>
        <div class='container' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='20px' *ngIf='featProd'>
          <div class='item item-1' fxFlex='70%'></div>
          <div class='item item-2' fxFlex='10%'>
            <a mat-raised-button routerLink='/services' color='primary'>View our services here >></a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <div #mapContainer id="map"></div> -->
<div class='progBar' [class.doneLoading]='!prgLoading'>
  <mat-progress-spinner mode='indeterminate' value='25' color='accent'></mat-progress-spinner>
</div>
