.quote-container {
  position: relative;
  background: rgba(0, 0, 0, 0.57);
  color: #fff;
  padding: 0.5em;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.feat-bg {
  background: rgba(0, 0, 0, 0.20);
}

.click {
  cursor: pointer;
  &:hover {
    background-color: rgba(#7AB37D, 0.6);
  }
}

#map {
  height: 500px;
  width: 100%;
}


.ftItem {
  width: 130px;
  height: 130px;
  border: 1px solid gray;
}

.ftItemName {
  font-size: 1.2em;
}

.doneLoading {
  display: none;
}
