.table-con {
  width: 100%;
  overflow: auto;
}
th {
  background: #388E3C;
  color: #FAFAFA;
  font-size: 12px;
  border: 1px solid #E0E0E0;
}
td {
  text-align: center;
  border: 1px solid #E0E0E0;
}
tr {
  &:nth-child(even) {
    background-color: #E8F2E9;
  }
}

.mat-cell,
.mat-header-cell {
  text-align: center;
}

.imgCon {
  max-width: 200px;
  max-height: 200px;
}

.imgDes {
  border: 1px solid gray;
  margin-bottom: 3px;
}
