<div class='container footer' fxLayout fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center center' fxLayoutGap.xs='20px' >
  <div class='item item-1' fxFlex='30%'>
    <span>No. 28, T. Azucena St., San Pablo City, Laguna, 4000</span>
  </div>
  <div class='item item-2' fxFlex='40%'>
    <span>Green Planet Bikeshop PH</span>
  </div>
  <div class='item item-3' fxFlex='30%'>
    <div class='container' fxLayout fxLayout.xs='column' fxLayoutAlign='center center'>
      <a class='item item-1' fxFlex='100%' href='tel:+639495627190' target='_blank' rel='noopener noreferrer'>
        <i><mat-icon>telephone</mat-icon></i>
        &nbsp;+639495627190
      </a>
    </div>
  </div>
</div>
