<div class='container footer' fxLayout fxLayout.xs='column' fxLayout='row' fxLayoutAlign='center center' fxLayoutGap.xs='20px' >
  <div class='item item-1' fxFlex='30%'>
    <span>No. 28, T. Azucena St., San Pablo City, Laguna, 4000</span>
  </div>
  <div class='item item-2' fxFlex='40%'>
    <span>Green Planet Bikeshop PH</span>
  </div>
  <div class='item item-3' fxFlex='30%'>
    <div class='container' fxLayout fxLayout.xs='column'  fxLayout='column' fxLayoutAlign='center center'>
      <a class='item item-1' fxFlex='100%' href='tel:+639495627190' target='_blank' rel='noopener noreferrer'>
        <span>Contact:&nbsp;</span>
        +639495627190
      </a>
      <a class='item item-2' fxFlex='100%' href='https://web.facebook.com/erwin.rili/' target='_blank'>
        <span>Facebook:&nbsp;</span>
        erwin.rili
      </a>
    </div>
  </div>
</div>
