.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.accName {
  font-size: 20px;
  font-weight: bold;
}

.subt {
  font-size: 17px;
}

.centerTxt {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

img {
  width: 130px;
  height: 130px;
}

.navImg {
  margin-top: 10px
}
